.container {
  padding: 0 2rem;
}
.dashboard {
  .hornhonker {
    background-color:darkslategray;
    .left {
      background-color: gray;
      float: left;
    }
    .right {
      background-color: gray;
      float: right;
    }
    .center {
      background-color: gray;
      float: none;
    }
  }
}
