.dashboard {
  overflow: hidden;
  height: 80vh;
  border-radius: 1rem;
  padding: 1rem;
  margin-inline: 1rem;
  margin-block-start: 1rem;
  background: black;

  .hornhonker {
    position: relative;
    z-index: 0;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: repeat(3, 6.25rem);
    grid-template-areas: "left back right";
    justify-content: space-between;
    place-items: center;
    height: 100%;
    width: 100%;
    box-shadow: 0 0.25rem 2rem rgba(0, 0, 0, 0.1);
    background: no-repeat center/100% 100% url("../public/wallpaper.jpg");
    overflow: hidden;
    padding: 2rem;

    .homeScreen {
      position: absolute;
      z-index: 2;
      inset: 0;
      padding: 2rem;
      width: 100%;
      display: grid;
      place-items: center;
      grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));

      .app {
        display: grid;
        place-items: center;
        aspect-ratio: 1;
        padding: 0.5rem;
        max-width: max-content;
        cursor: pointer;
        user-select: none;

        p {
          margin-block: 0;
          font-weight: 500;
        }
        .appIcon {
          user-select: none;
          border-radius: 0.5rem;
          z-index: 2;
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 1;
      border-radius: 0.5rem;
      backdrop-filter: blur(4px);
      background: rgba(255, 255, 255, 0.31);
    }

    .hornlh,
    .hornch,
    .hornrh {
      z-index: 2;
      display: flex;
      flex-direction: column;
      background: rgba(255, 255, 255, 0.31);
      width: 6.25rem;
      height: 6.25rem;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      backdrop-filter: blur(20px);
      box-shadow: 0 0 30px hsl(0, 0%, 0%, 0.125);
      transition: opacity 75ms ease-out;
    }

    .hornlh {
      grid-area: left;
    }

    .hornch {
      grid-area: back;
    }
    .hornrh {
      grid-area: right;
    }
  }
}

.buttonRow {
  display: grid;
  height: calc(20vh - 1rem);
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  place-items: center;
  padding: 1rem;

  button {
    cursor: pointer;
    background: hsla(0, 0%, 69%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.59);
    justify-content: space-between;
    aspect-ratio: 1;
    font-size: 1rem;
    transition: scale 0.125s ease-in-out;
    color: black;

    &:hover {
      scale: 1.1;
    }
    &:active {
      background: hsl(0, 0%, 50%);
    }
  }
}
